html{
    min-height: 100%;
    _height:100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    _height:100%;
    -webkit-user-select: none ;
    -webkit-touch-callout: none ;
}
div{
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}
::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}
#homePage{
    height: 100%;
    position: relative;
}
#mhead{
    position: fixed;
    top: 0;
    width:100%;
    height:80px;
    z-index: 100;
    background: white;
    display: grid;
    grid-template-columns: auto auto;
}
#mName{
    grid-column: 1;
    grid-row: 1;
    font-size: 18px;
    font-weight: bolder;
    line-height: 30px;
    align-self: center;
    margin: 0 50px;
    cursor: pointer;
}
#mMenu{
    direction: ltr;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}
.header_bar{
    background-color: black !important;
    height:50px !important;
    border-bottom: 2px solid #202020;
    color: white;
}
.btnAct{
    font-weight: bolder;
}
.mButton{
    border-left: 1px solid lightgray;
}
.mButton_bar{
    color: white !important;
}
#mbody{
    margin-top: 80px;
    width: 100%;
    background: white;
}
.pubTitleOutBx{
    text-align: center;
    margin-bottom: 70px;
    padding-top: 50px;
}
.pubTitleBx{
    display: inline-flex;
    margin: 0 auto;
    height: 50px;
}
.pubTitle{
    font-size: 45px;
    line-height: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.lineBx{
    content: " ";
    height: 2px;
    width: 80px;
    top: 24px;
    margin: 0 10px;
    background: #333;
    position: relative;
}
.pubIconOutBx{
    width: 80%;
    padding: 0 10%;
    margin-bottom: 50px;
}
.pubIconBx{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 20% 35%;
}
#pubIcon1{
    grid-column: 1;
    grid-row: 1;
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
#pubIcon2{
    grid-column: 2;
    grid-row: 1;
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
#pubIcon3{
    grid-column: 3;
    grid-row: 1;
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
#pubIcon4{
    grid-column: 4;
    grid-row: 1;
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.pubIconImg{
    width: 100%;
    max-width: unset;
    vertical-align: middle;
}
.pubContentBx{
    width: calc(100% - 200px);
    background-color: #fbf7f7;
    margin: 0 100px 50px 100px;
    padding: 20px 0;
}
.pubTable{
    width: calc(100% - 100px);
    margin: 20px 50px;
    font-size: 18px;
    white-space: normal;
    cursor: pointer;
}
.pubColumn2{
    width: 10%;
}
.pubPhotoBx{
    width: 70%;
    margin: 0 15% 50px 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}
#pubPhoto1{
    grid-column: 1;
    grid-row: 1;
    margin: 0 25px;
}
#pubPhoto2{
    grid-column: 2;
    grid-row: 1;
    margin: 0 25px;
}
.pubPhotoImg{
    height: auto;
    max-width: unset;
    vertical-align: middle;
    width: 100%;
}
#mfoot{
    width: 100%;
    height: 80px;
    background-color: #fbf7f7;
}
#mIconBx{
    width: 20%;
    height: 100%;
    margin-left: 75%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-content: center;
}
.linkBx{
    text-align: center;
}
.linkIcon{
    width: 40px;
    cursor: pointer;
}